@media only screen and (max-width: 500px) {
  #obutton {
    width: 17vw;
    height: 35px;
    font-size: 13px; }
  #ebutton {
    width: 18vw;
    height: 35px;
    font-size: 13px;
    padding-left: 9px; }
  .nav__btn {
    margin: 0px 80px 10px 0px; }
  #hbutton {
    width: 10vw;
    font-size: 11px;
    padding: 5px; }
  .dropdown {
    width: 13vw;
    font-size: 10px; }
  .bringn {
    width: 150vw; }
  #interac__2 {
    width: 10vw; }
  #costo {
    width: 17vw; }
  #ubicacion {
    width: 32vw; }
  #ofrecer {
    font-size: 7px; }
  .terminos {
    font-size: 15px; }
  #recibir {
    margin-top: 10px; } }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

nav {
  height: 11vh;
  width: 100%;
  margin: 0px; }

.nav__btn, .dropdown {
  margin-bottom: 4vh; }

#nav__2 {
  border-bottom: black;
  border-bottom-style: solid;
  border-top-style: solid;
  margin-top: 15px; }

h1 {
  color: black;
  width: auto;
  height: 2vh;
  text-align: center;
  font-family: 'Permanent Marker', cursive; }

.btn__h1 {
  color: black;
  text-decoration: none; }
  .btn__h1:hover {
    color: black;
    transform: scale(1.1, 1.1); }

#subt {
  text-align: center;
  position: relative;
  margin-top: 5vh;
  font-family: 'Rock Salt', cursive;
  color: gray; }

.bloque3 {
  width: 0%; }

.img__perfil {
  width: 100%;
  height: 8vh;
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 30px; }

.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px; }

span {
  display: flex;
  justify-content: space-evenly; }

.div__footer {
  display: flex;
  justify-content: space-evenly; }

ul {
  list-style: none; }
  ul ul {
    display: none;
    position: absolute; }
    ul ul li {
      display: block; }

li {
  display: inline-block;
  padding-left: 10px; }

footer {
  font-style: oblique;
  display: block; }

@media screen and (min-width: 980px) {
  body {
    background: white; } }

@media screen and (max-width: 979px) and (min-width: 501px) {
  body {
    background: blue; } }

#foot {
  font-style: oblique; }

#bt__1 {
  background-color: cyan;
  border: none;
  font-family: monospace;
  text-decoration: none;
  color: white; }
  #bt__1:hover {
    transform: scale(1.2, 1.2);
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10%; }

#bt__2 {
  background-color: black;
  border: none;
  font-family: monospace;
  text-decoration: none;
  color: white; }
  #bt__2:hover {
    transform: scale(1.2, 1.2);
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10%;
    border: none; }

#obutton {
  background-color: cyan; }

#ebutton {
  color: white;
  border-style: solid;
  border: 1px solid;
  border-color: cyan;
  margin-right: 50px; }

.nav-item:hover {
  transform: scale(1.1, 1.1); }

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px; }

.terminos {
  display: flex;
  justify-content: space-around;
  font-style: oblique;
  font-weight: 800;
  margin-top: 40px; }

#ofrecer {
  margin-top: 15px;
  width: 10vw;
  height: 5vh;
  background-color: turquoise;
  border-style: inherit; }

form {
  text-align: center; }

.sub {
  text-align: center; }

.facebook {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../resources/facebook.png");
  border-radius: 50%; }

.twitter {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../resources/twitter.png");
  border-radius: 50%; }

.instagram {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../resources/instagram.png");
  border-radius: 50%; }

.mb-3 {
  width: 70vw;
  margin: auto;
  margin-top: 100px;
  padding: 20px; }

.form__reg {
  justify-content: space-around;
  padding: 10px;
  margin: 100px 400px 0px 350px;
  border: black;
  border-style: solid;
  width: 500px; }

.h1__registro {
  color: black;
  font-size: 20px;
  font-family: monospace; }

.h2__registro {
  color: black;
  font-size: 20px;
  font-family: monospace; }

.home__button {
  float: left;
  margin: 30px;
  padding-top: 0px; }

#hbutton {
  color: black;
  background-color: white;
  border-color: black; }

#hbutton:hover {
  transform: scale(1.1, 1.1);
  color: white;
  background-color: black; }

.img__usuario {
  width: 100%;
  height: 5vh;
  border-radius: 50%; }

.img-usuario {
  width: 0%; }

.usuarios_msj {
  padding-top: 15px;
  display: flex;
  justify-content: center; }

#interac__1 {
  width: 6vw;
  height: 4vh;
  font-size: 10px;
  margin-left: 120px;
  margin-bottom: 50px; }

#interac__2 {
  width: 6vw;
  height: 4vh;
  font-size: 10px;
  margin-bottom: 50px;
  margin-left: 30px; }

.container {
  margin: 100px; }

.container-usuarios {
  margin-left: 0px;
  margin-top: 50px; }

.bringn {
  padding-left: 0px; }

#formregistro {
  margin: 100px; }

#subbt {
  color: cyan;
  background-color: black;
  border-color: black; }

.img-error {
  width: 50%; }

.container1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; }

.herror {
  color: black;
  font-size: 20px;
  padding: 20px;
  font-style: monospace; }

.berror {
  padding: 13px 30px;
  border-radius: 15px;
  border: none;
  background: cyan;
  color: white; }

#b-error {
  text-decoration: none;
  color: black; }

#escribir {
  margin: 10px; }
