<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../SASS/CSS/styles1.css">
    <title>Error 404</title>
</head>

<body>
    <div class="container1">
        <img class="img-error" src="../SASS/resources/img1.svg" alt="404 error">
        <h1 class="herror">La página que ha solicitado no se encuentra disponible</h1>
        <div class="boton">
            <button class="berror"><a id="b-error" href="../index.html">Volver atras</a></button>
        </div>
    </div>
</body>
</html>