nav{
    height: 11vh;
    width: 100%;
    margin: 0px;
}
.nav__btn, .dropdown{
    margin-bottom: 4vh;
}
#nav__2{
    border-bottom:$secondary-color;
    border-bottom-style: solid;
    border-top-style: solid;
    margin-top: 15px;
}
ul{
    list-style: none;
    ul{
        display: none;
        position: absolute;
        li{
            display: block;
        }
    }
}
li{
    display: inline-block;
    padding-left: 10px;
}
#obutton{
    background-color: cyan;
}
#ebutton{
    color: $primary-color;
    border-style: solid;
    border: 1px solid;
    border-color: cyan;
    margin-right: 50px;
}
.nav-item:hover{
    transform: scale(1.1, 1.1);
}
.dropdown{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.home__button{
    float: left;
    margin: 30px;
    padding-top: 0px;
}

#hbutton{
    color: black;
    background-color: white;
    border-color: black;
    & :hover{
        transform: scale(1.1, 1.1);
        color: white;
        background-color: black;
    }
}
