$primary-color:white;
$secondary-color: black;
$font-family: monospace;

@import 'SCSS/mob';
@import 'SCSS/header';
@import 'SCSS/nav';
@import 'SCSS/section';
@import 'SCSS/footer';

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

span{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 980px) /* Desktop */ {
    body {
        background:white;
    }
}

form{
    text-align: center;
}

.mb-3{
    width: 70vw;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.form__reg{
    justify-content: space-around;
    padding: 10px;
    margin: 100px 400px 0px 350px;
    border: black;
    border-style: solid;
    width: 500px;
}

.container{
    margin: 100px;
}

#formregistro{
    margin: 100px;
}
#subbt{
    color: cyan;
    background-color: black;
    border-color: black;
}

.img-error{
    width: 50%;
}
.container1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.herror{
    color: black;
    font-size: 20px;
    padding: 20px;
    font-style: $font-family;
}
.berror{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background:cyan;
    color: white;
}

#b-error{
    text-decoration: none;
    color: black;
}
